body {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  color: #626262;
  /* background-color: #e5e5e5; */
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

/* Header */

header {
  padding-top: 71px;
  padding-bottom: 92px;
}

.nav-list {
  display: flex;
  justify-content: center;
  /* outli  ne: 1px solid red; */
}

.nav-link {
  font-size: 14px;
  line-height: 1.36;
  color: #7d7d7d;
}

.nav-items {
  margin-left: 100px;
  /* outline: 1px solid red; */
}

.nav-items:first-child {
  margin-left: 0px;
}

.nav-link:hover {
  color: #03a9f4;
}

.nav-list:first-child {
  margin-left: 0;
}

/* Main */

main {
  width: 906px;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 66px;
}

.main-list {
  display: flex;
  flex-wrap: wrap;
}

.main-list-item {
  width: 420px;
  margin-bottom: 130px;
}

/* .main-list-item:nth-child(5),
.main-list-item:nth-child(6) {
  margin-bottom: 0px;
} */

.main-list-item:nth-child(2n) {
  margin-left: 65px;
}

.card-name {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.14;
  color: #b4ad9e;
  margin-top: 32px;
  margin-bottom: 32px;
}

.card-title {
  font-size: 30px;
  line-height: 1.33;
}

.card-description {
  font-size: 14px;
  line-height: 1.36;
  margin-top: 40px;
}

.card-button {
  display: block;
  width: 165px;
  height: 60px;
  font-size: 14px;
  line-height: 1.36;
  margin-left: auto;
  margin-right: auto;
}
